.signup-section {
  background: #f6f9fc;
  height: 130vh;
}
.signup-box {
  background: #fff;
  padding: 40px 55px 40px 25px;
  border-radius: 10px;
  margin: 10px 0;
}
.signup-container {
  max-width: 800px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.info h5 {
  color: #2b3445;
  font-size: 20px;
}
.info p {
  color: #373f50;
  font-size: 13px;
  font-family: "Lato", "sans-serif";
  font-weight: 500;
}
.signup-box input {
  margin: 9px 15px 15px 15px;
}
label {
  margin: 0 15px;
}
.form-control:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid red;
}
.signup-another-away {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
.google-login {
  background: #4285f4;
  color: white;
  font-size: 13px;
  font-weight: bold;
  font-family: "Lato", "sans-serif";
}
.facebook-login {
  background: #3b5998;
  color: white;
  font-size: 13px;
  font-weight: bold;
  font-family: "Lato", "sans-serif";
}
.google-login:hover,
.facebook-login:hover {
  color: white;
}
.login-link {
  font-size: 14px;
}
.login-bottom-link {
  color: black;
}
.login-bottom-link:hover {
  color: black;
}
@media (min-width: 367px) {
  .signup-container {
    max-width: 800px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
  }
}
@media (min-width: 1295px) {
  .signup-container {
    max-width: 800px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}
