.card {
  position: relative;
}
.badge {
  background-color: orange;
  color: white;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 5px 10px;
}
.sidebar-container {
  background: #fff;
  height: 100vh;
  margin-top: -14px;
  padding-top: 0;
  z-index: 0;
}
.sidebar li a {
  padding: 15px 40px !important;
  display: block;
  text-decoration: none;
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin: 15px 0px;
}
.sidebar li a:hover {
  color: #019376;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
